@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --white: #fff;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: url('assets/bg-intro-mobile.png');
    background-color: var(--red);
    color: var(--white);
    text-align: center;
}
button {
    cursor: pointer;
}
.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1em);
}
main {
    margin: 5em 1em;
}
.free-trial--intro {
    --flow-space: 1em;
}
.free-trial--heading {
    font-size: 1.5em
}
.free-trial--text {
    font-size: 0.7em;
}
.free-trial {
    --flow-space: 3em;
}
.form--7-days {
    background: var(--blue);
    padding: 15px;
    font-size: 10px;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    margin: 2em 0;
    box-shadow: 0px 7px 1px 0px rgba(0,0,0,0.09);
    -webkit-box-shadow: 0px 7px 1px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 7px 1px 0px rgba(0,0,0,0.09);
}
.form--7-days .try {
    font-weight: 700;
}
.form {
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 7px 1px 0px rgba(0,0,0,0.09);
    -webkit-box-shadow: 0px 7px 1px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 7px 1px 0px rgba(0,0,0,0.09);
}
.free-trial--form {
}
.form--input-group  {
    margin: 0.9em 0;
    position: relative;
}
.form--input-group > * {
    display: block;
}
.form--input-group input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--grayish-blue);
    padding: 0 20px;
    outline: none;
}
.form--input-group.success input {
    border: 2px solid var(--green);
}
.form--input-group input:hover,
.form--input-group input:focus,
.form--input-group input:active {
    border: 1px solid var(--dark-blue);
}
.form--input-group img {
    display: none;
}
.form--input-group.error img {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
}
.form--input-group .error-msg {
    display: none;
}
.form--input-group.error .error-msg {
    display: block;
    color: var(--red);
    text-align: right;
    font-size: 8px;
    font-style: italic;
    font-weight: 700;
    margin: 0.7em;
}
.claim {
    width: 100%;
    background: var(--green);
    color: var(--white);
    padding: 15px 0;
    border: none;
    border: 1px solid var(--grayish-blue);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    box-shadow: 0px 3px 0px -1px rgba(84,70,70,0.51);
    -webkit-box-shadow: 0px 3px 0px -1px rgba(84,70,70,0.51);
    -moz-box-shadow: 0px 3px 0px -1px rgba(84,70,70,0.51);
}
.claim:hover,
.claim:focus,
.claim:active {
    background: var(--white);
    color: var(--green);
}
.claim:active {
    transform: translateY(4px);
}
.terms-and-conditions {
    color: var(--grayish-blue);
    font-size: 8px;
    --flow-space: 1.5em;
}
.terms-and-conditions .highlight {
    color: var(--red);
    font-weight: 500;
}
@media screen and (min-width: 460px) {
    body {
        background-image: url('assets/bg-intro-desktop.png');
    }
    main {
        margin: 5em 8em;
    }
    .free-trial {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5em;
        --flow-space: 0;
    }
    .free-trial--intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        text-align: left;
    }
    .free-trial--heading {
        font-size: 2.5em;
        line-height: 1.2;
    }
    .free-trial--text {
        font-size: 0.9em;
        text-align: l ;
    }
    .form--7-days {
        margin-top: 0;
    }
}
@media screen and (max-width: 760px) {
    main {
        margin: 5em 1em;
    }
    .free-trial {
        gap: 2em;
    }
    .free-trial--heading {
        font-size: 1.5em;
        line-height: 1.2;
    }
}